/* CSS những cấu hình chung */
:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    /* Mặc định font-size: 16px */
    /* font-size: 100%; */
    /* Với trường hợp muốn nâng font-size sd đơn vị rem cho những thẻ css khác thì dùng con số 10px */
    font-size: 62.5%;
    /* Khoảng cách giữa các dòng, 1.6 rem ở đây bằng 16 px */
    line-height: 1.6 rem;
    /* sans-serif là chủng chữ không có chân */
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Reponsive là cách mà màn hình máy tính, laptop, tablet hay iphone mỗi lần co lại một kích thước
    thì nó sẽ tự động thu nhỏ lại như thế */
.grid {
    /* Kích thước mà lớn hơn 1200 thì giữ nguyên 1200, nhỏ hơn thì mặc định bằng 100% toàn màn */
    width: 1200px;
    max-width: 100%;
    /* Căn giữa khối này khi nằm trong khối khác */
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    /* Tổng các phần tử con mà vượt quá grid này thì tự động xuống dòng */
    flex-wrap: wrap; 
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
/* Cho chiếm lấy toàn bộ màn hình  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    /* Đây là con số tạo box mặc định, có thể bỏ đi sau tự động điền chữ vào là có  */
    /* width: 450px; */
    /* height: 450px; */
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    /* Ai có thuộc tính z-index to hơn thì lên tầng layout trước  
    Hoặc không để một cái z-index là chắc chắn nó nằm trên*/
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button  */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    /* Giảm độ sáng  */
    /* filter: brightness(80%); */
    background-color: #c3c3c3;
}