/* CSS những thành phần riêng */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

/* Gỡ dấu chấm bullet list */
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--show-qr:hover .header__qr {
    /* Khi bấm vào chữ header sẽ thực hiện hiển thị qr */
    display: block;
}

/* Giữ nguyên một khối nhưng đẩy list dạng xuống dòng thành 1 dòng */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-block;
    /* Tương đương 15 px */
    font-size: 1.4rem;
    color: var(--white-color);
    /* Bỏ dấu gạch chân của a, mặc định đang để là underline */
    text-decoration: none;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    /* Bởi vì margin giữa hai item là 8 -> 16px */
    right: -9px;
    top: 50%;
    /* chỉnh top bằng 50% kích thước header__navbar
    Sau đó dùng transform và thay đổi chiều dọc -50% */
    transform: translateY(-40%);
}

.header__navbar-icon {
    font-size: 1.5rem;
    margin: 0 2px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header Qr */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    /* ẩn khỏi layout */
    display: none;
    animation: fadeIn ease-in 0.2s;
}

/* Nhiều khi có khoảng cách giữa chữ và hiển thị mã làm gián
đoạn khả năng bấm của mình, lúc đấy cần tạo ra một cây cầu kết nối */
.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px
}