/* CSS những thành phần riêng */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

/* Gỡ dấu chấm bullet list */
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--show-qr:hover .header__qr {
    /* Khi bấm vào chữ header sẽ thực hiện hiển thị qr */
    display: block;
}

.header__navbar-item--show-notify:hover .header__notify {
    display: block;
}

/* Giữ nguyên một khối nhưng đẩy list dạng xuống dòng thành 1 dòng */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-block;
    /* Tương đương 15 px */
    font-size: 1.4rem;
    color: var(--white-color);
    /* Bỏ dấu gạch chân của a, mặc định đang để là underline */
    text-decoration: none;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    /* Bởi vì margin giữa hai item là 8 -> 16px */
    right: -9px;
    top: 50%;
    /* chỉnh top bằng 50% kích thước header__navbar
    Sau đó dùng transform và thay đổi chiều dọc -50% */
    transform: translateY(-40%);
}

.header__navbar-icon {
    font-size: 1.5rem;
    margin: 0 2px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header Qr */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    /* ẩn khỏi layout */
    display: none;
    animation: fadeIn ease-in 0.2s;
}

/* Nhiều khi có khoảng cách giữa chữ và hiển thị mã làm gián
đoạn khả năng bấm của mình, lúc đấy cần tạo ra một cây cầu kết nối */
.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px
}

/* Header notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    /* Định được cái tâm xem nó sẽ dần phóng to hiện ra từ đâu 
    Mặc định đang ở center, cần chỉnh nó chạy ra từ nút tbao */
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.15s;
    /* Thông báo cho trình duyệt sự thay đổi 
    của opacity và transform */
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    position: absolute;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -28px;
}

.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

/* Animation cho notify */
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 40px;
    /* cursor: text */
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
    
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain; /* Chỉnh sửa lại kích thước ảnh cho vừa */
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    /* Để xuống dòng thì cần tạo thành block
    Hoặc không để một thẻ là span, một thẻ p */
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    /* margin-top: 6px; */
    line-height: 2.4rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400; 
    padding: 8px 0;
    width: 100%;
    /* magin auto đi với display flex không kèm width 
    sẽ cho ra căn giữa */
    /* margin: auto;  */
    font-size: 1.4rem;
    text-align: center;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 210px;
}

.header__logo-img {
    width: 190px;
    margin-left: 6px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    /* Chiếm hết chiều ngang  */
    flex: 1;
    border-radius: 2px;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

/* Modal Layout */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    /* Khi phần tử con vượt ra ngoài so với cha thì nó vẫn được tính
    và vẫn hiển thị phần nhô ra đấy, để có thể bo góc được phần aside
    Có thể sử dụng overflow dạng hidden để che phần bị nhô ra của con */
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    /* outline sử dụng với thuộc tính none nhằm tắt đi nút in 
    đậm border input sau khi bấm vào */
    outline: none;
}

/* lớp giả focus đc kích hoạt khi click làm xuất hiện dấu nháy chuột trong input  */
.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}

.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}
.auth-form__controls-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--fb {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--fb
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 34px;
}

.auth-form__socials--gg {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
}

.auth-form__help-seperate {
    display: block;
    height: 20px;
    margin: -2px 12px 0;
    border: 1px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


